.titulo {
  font-size: 40px;
  font-weight: 800;
  padding-top: 75px;
}
.subtitulo {
  font-size: 22.5px;
  font-weight: bold;
}
.nomes {
  font-size: 30px;
}
.rm {
  font-size: 25px;
}

.nomes,
.rm {
  font-weight: bold;
}
.titulo,
.subtitulo,
.nomes,
.rm {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.titulo,
.subtitulo {
  color: #fff;
}

.rm {
  color: #0084ff;
}

#principal {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #0084ff, #8ab2d7);
}

.foto {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.participantes {
  margin-top: 50px;
  display: flex;
}

.participante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px 0;
  background-color: #fff;
  margin: 0 10px;
  width: 450px;
  height: 500px;
  margin: 0 auto;
  border-radius: 50px;
}

.logotipos {
  display: flex;
  gap: 0 8px;
}

.logotipo {
  width: 50px;
  height: auto;
  transition: all 0.4s ease;
}
.logotipo:hover { 
  transform: scale(1.2);
}