.titulo {
  font-size: 40px;
  font-weight: 800;
  padding-top: 75px;
}
.subtitulo {
  font-size: 22.5px;
  font-weight: bold;
}
.nomes {
  font-size: 30px;
}
.rm {
  font-size: 25px;
}

.nomes,
.rm {
  font-weight: bold;
}
.titulo,
.subtitulo,
.nomes,
.rm {
  font-family: "Inter", sans-serif;
  text-align: center;
}

.titulo,
.subtitulo {
  color: #fff;
}

.rm {
  color: #0084ff;
}

#principal {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #0084ff, #8ab2d7);
}

.foto {
  border-radius: 50%;
  width: 300px;
  height: 250px;
  margin-bottom: 15px;
}

.participantes {
  margin-top: 50px;
  display: flex;
}

.participante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px 0;
  background-color: #fff;
  margin: 0 10px;
  width: 450px;
  height: 500px;
  margin: 0 auto;
  border-radius: 50px;
}

.logotipos {
  display: flex;
}

.instagram {
  width: 72px;
  margin-left: -11px;
  margin-top: -5px;
}

.logotipos a > img {
  transition: all 1s ease;
}

.logotipos a > img:hover {
  border-bottom: #0084ff 2px solid;
}
